{% extends 'main/base.html' %}
{% block title %}Контакты - Мой Сайт{% endblock %}
{% block content %}
<h1>Связаться с нами</h1>
<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="mb-3">
        {{ form.message.label_tag }}
        {{ form.message }}
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}
